.partyPokemonPod {
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 1fr 1fr 1fr;
}
.partyPokemonPodImage {
    height: 100%;
    grid-row: 1;
    grid-column: 2;
}