#pokemonStatsComponent {
    height: 100%;
    grid-row: 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#pokemonStatsComponent button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}